.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid ;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    color: rgb(189, 81, 236);
    margin-right: 30%;

}
.toggle>*{
    width: 1rem;
    height: 1rem;
    color: rgb(241, 232, 232);
}
.t-button{
    border-radius: 100%;
    background: rgb(189, 81, 236);
    position: absolute;
}
